<header>
    <nav role="navigation">
        <div class="nav-container">
            <ul class="links">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#gallery">Gallery</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="menu">
        <button>
            <span class="menu__hamburger"></span>
            <span class="menu__hamburger"></span>
            <span class="menu__hamburger"></span>
        </button>
    </div>

</header>