<footer>
  <nav>
      <ul class="footer__links">
        <li>
          <a href="https://github.com/CORT0619">GitHub</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/crystal-williams-92b28b10/">LinkedIn</a>
        </li>
        <li>
          <a href="https://twitter.com/CORT0619">Twitter</a>
        </li>
        <li>
          <a href="mailto:cortney0215@gmail.com">Email</a>
        </li>
      </ul>
  </nav>
  <div>
    &copy; 2018. Crystal R. Williams
  </div>
</footer>