<footer>
  <nav>
      <ul class="footer__links">
        <li>
          <a href="https://github.com/CORT0619">
            <img src="../../assets/imgs/github_gray.svg" alt="Crystal Williams GitHub Page">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/cwilliams1121/">
            <img src="../../assets/imgs/linkedin_gray.svg" alt="Crystal Williams LinkedIn Profile">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/CORT0619">
            <img src="../../assets/imgs/twitter_gray.svg" alt="Crystal Williams Twitter Profile">
          </a>
        </li>
        <li class="emailLink">
          <a href="mailto:cortney0215@gmail.com">
            <!-- <div class="email"></div> -->
            <img src="../../assets/imgs/email-32.png" alt="Email Crystal Williams">
          </a>
        </li>
      </ul>
  </nav>
  <div class="copyright">
    <!-- <div> -->
      &copy; 2019 Crystal R. Williams. | All rights reserved.
    <!-- </div> -->
  </div>
</footer>