<section class="about">
  <div class="section-heading">
    <h2>About Crystal</h2>
  </div>
  <div class="profile">
    <img class="profile__picture" src="../../../assets/imgs/prof_pic.jpg" alt="Crystal R. Williams profile picture">
    <button (click)="openPDF()">DOWNLOAD RESUME</button>
  </div>

  <div class="about__info">
    <ul>
      <li><span>NAME: </span>Crystal R. Williams</li>
      <li><span>EMAIL: </span>cortney0215@gmail.com</li>
      <li><span>PHONE: </span>904-413-8037</li>
      <li><span>LOCATION: </span>Orlando, FL</li>
      <li><span>WHAT DO I KNOW: </span></li>
    </ul>
  </div>
</section>