<section class="about">
  <div class="section-heading">
    <h2>About</h2>
  </div>
  <div class="profile">
    <img class="profile__picture" src="../../../assets/imgs/prof_pic.jpg" alt="Crystal R. Williams profile picture">
    <button (click)="openPDF()">Download Resume</button>
  </div>

  <div class="about__info">
    <ul>
      <li><span>Name: </span>Crystal R. Williams</li>
      <li><span>Email: </span>cortney0215@gmail.com</li>
      <li><span>Phone: </span>904-413-8037</li>
      <li><span>Location: </span>Orlando, FL</li>
      <li><span>What do I Know: </span> Html5, CSS, Flexbox, CSS Grid, Angular 2+, NodeJs, Expressjs</li>
    </ul>
  </div>
</section>