/* You can add global styles to this file, and also import other style files */

/* fonts */
@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/assets/fonts/Montserrat-ExtraLight.ttf');
    // src: url('/src/assets/fonts/Montserrat-ExtraLight.ttf');
};

/* breakpoints */
$breakpoints: (
    mobile: 375px, // 320px
    tablet: 800px, // 768px
    desktop: 1024px
);

/* colors */
$colors: (
    black: #000,
    white: #FFF
);

/* styles override */
a {
    text-decoration: none;
}

/* app padding */
// 25px;
$global-padding: 25px;

/* styling for page headings */
.section-heading h2 {
    text-transform: uppercase;
}